<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
  <div class="five inverted fields">
    <div class="field">
      <label>Code</label>
      <select placeholder="00" type="text" name="code">
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
      </select>
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="00.0 C" type="number" step=".01" name="temperature">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="00.00 kMh" type="number" step=".01" min="1" max="117" name="windSpeed">
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <input placeholder="00.00 dg" type="number" step=".01" min="0" max="360" name="windDirection">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="00.00hPa" type="number" name="pressure">
    </div>
  </div>
  <button class="ui blue submit button">Submit Report</button>
</form>