<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Station Name</label>
            <input placeholder="Station" type="text" name="name">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input placeholder="00.00" type="number" step=".01" name="lat">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input placeholder="00.00" type="number" step=".01" name="lng">
        </div>
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>