<div class="ui grid">
    <div class="five column computer only row">
        <div class="column">
            <div class="ui segment">
                ${_station.name}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Weather
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Temp
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Wind
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Pressure
            </div>
        </div>
    </div>
</div>