#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <p>
  <h3>Weather Top 1000</h3>
  </p>
</section>
<div class="ui two column grid">
  <div class="column">
    <img class="ui image" src="/public/images/ireland.png">
  </div>
  <div class="column">
    <p>In many businesses and situations, its important to have access
    to weather information; whether that be for worker safety, livestock
    conditions, or take off and landing. There are regional forecasts readily
    available, but the best option is always the one that gives you the most
    accurate, up to date information for your location at a moments notice;
    and that is exactly what WeatherTop 1000 weather app will do for you.</p>
    <p>Weather Top 1000 allows users to sign up with their email address and
    input weather stations and readings for these weather stations.  The app
    will display the latest conditions from the readings that have been entered.
    It will also display trends in temperature, wind speed and pressure.</p>
    <p>Users can delete their readings or stations and edit their personal details
    on their profile.  The app is still in development so we will be adding features
    to this in the near future.  Please get in touch if you have any issues with the
    app or have any suggestions that would ensure a more user friendly version.</p>
  </div>