#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}

<section class="ui inverted orange center aligned middle aligned segment">
   <span class="ui big black text">
    <h1><embed>About Weather Top 1000</embed></h1>
    </span>
</section>

<div class="ui two column grid">
  <div class="column">
    <figure></figure>
    <img class="ui image" src="/public/images/ireland.png"></figure>
    <figcaption>Map of Irish Weather Stations</figcaption>
  </div>
  <div class="column" style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
    <p>In many businesses and situations, its important to have access
      to weather information; whether that be for worker safety, livestock
      conditions, or take off and landing. There are regional forecasts readily
      available, but the best option is always the one that gives you the most
      accurate, up to date information for your location at a moments notice;
      and that is exactly what WeatherTop 1000 weather app is designed for.</p>
    <p>Weather Top 1000 allows meteorologists to create their own personal accounts
      where they can create recordsd for weather stations and readings for these
      weather stations. The app does a number of calculations depending on the inputs
      including the beaufort scale, windChill, wind direction, minimum and maximum of
      all the readings and trends in temperature, wind speed and atmospheric pressure.
      The app displays at the top of your screen the latest conditions from the readings
      that have been entered.</p>
    <p>It is designed so it is easy to use navigate. Users can delete readings or
      stations and edit their personal details on their profile. The app is still in
      development so we will be adding features to this in the near future. </p>
    <p>Please get in touch if you have any issues with the
      app or have any suggestions that would ensure a more user friendly version.</p>
  </div>
</div>

#{footer /}