#{extends 'main.html' /}
#{set title:'Home' /}

#{if member != null } #{menu id:"about"/} #{/if}
#{else} #{welcomemenu id:"about"/} #{/else}

<section class="ui blue inverted center aligned middle aligned segment">
<span class="ui big black text">
    <h1><embed>Welcome to Weather Top 1000</embed></h1>
    </span>
</section>

<div class="ui three column middle aligned grid basic segment">
  <div class="column">
    <img class="ui medium rounded image" src="/public/images/start.jpg">
  </div>
  <div class="column" style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
    <p>Welcome to the Weather Top 100 app which was designed in conjunction with WeatherTop Inc. </p>
    <p>Please login if you would like to access your account. You can also register as a new user to
      start using the Weather Top App straight away. For more information on this app and it's uses
      please go to our <a href="/about">About </a>page.
  </div>
  <div class="column">
    #{logintag /}
  </div>
</div>

#{footer /}
